@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './App.css';

/* :root{
  --black: #343434,
  --bg:#f8e367,
  --shadow1: 0px 13px 48px -1px rgba(0,0,0,0.25),
  --shadow2: 0px 13px 46px rgba(0,0,0,0.13),
  --pink:#fe956f,
} */


body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
  background: #f8e367;
  transition: all 3s ease;
  color: var(--black);
  scroll-behavior: smooth;
}